.icon-phone-blue {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 14px;
  height: 17px; }

.icon-phone-white {
  background-image: url(../../img/sprite.png);
  background-position: -14px 0px;
  width: 14px;
  height: 17px; }

.icon-placeholder-white {
  background-image: url(../../img/sprite.png);
  background-position: -28px 0px;
  width: 14px;
  height: 16px; }
